*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
body{
    background-image: url("img/background.jpg");
    background-size: cover;
}
.container{
    height:100%;
}
a{
    color:white;
}

img{
    width: 80px;
    height: 80px;
}
a:hover{
    background-color: #632415;
    color: white;
    color:black;
}
header{
    background-color: #531405;
}
article{
    background-color: #e1bf9c;
    padding-bottom: 200px;
    padding-top: 100px;
}
footer{
    background-color: darkslategray;
}
button{
    background-color: #531405;
    color:#e1bf9c;
    border: 1px solid black;
    border-radius:10px;
    margin-top: 50px;
    padding:10px;
}

button:hover{
    background-color: #632415;
}